.paletas { 
    margin: 80px;
    animation: parpadeo .5s infinite linear;
    border-radius: 10px;
}

@keyframes parpadeo{
    0%{
        box-shadow: 0 0 5px #fff;
    }

    50%{
        box-shadow: 0 0 15px #fff;
    }

    100%{
        box-shadow: 0 0 5px #fff;
    }

}